* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box; }

#wrap {
  padding-top: 65px; }

.header {
  height: 75px;
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transform: translateY(-100%);
  transition: 0.4s; }
  .show-header .header {
    transform: none; }
  .header .logo {
    font-size: 26px;
    text-transform: uppercase;
    color: #333;
    font-weight: bold; }
  .header nav {
    display: flex; }
    .header nav .nav-item {
      display: flex;
      align-items: center;
      height: 65px;
      padding: 0 20px;
      margin: 0 10px;
      text-transform: uppercase;
      cursor: pointer;
      border-bottom: 3px solid transparent; }
      .header nav .nav-item.is-active, .header nav .nav-item:hover {
        border-bottom: 3px solid #08c; }

.container {
  max-width: 800px;
  margin: 0 auto; }

.section {
  padding: 80px 0;
  border-bottom: 1px solid #eee;
  min-height: 50vh; }
  .section:nth-child(odd) {
    background: #f7f8f9; }
  .section.is-current h2, .section.is-current p {
    transform: none;
    opacity: 1; }
  .section h2, .section p {
    transform: translateY(40px);
    transition: 0.7s;
    opacity: 0; }
  .section h2 {
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 15px; }
  .section p {
    text-align: center;
    font-size: 22px;
    color: #999;
    line-height: 1.5;
    transition-delay: 0.2s; }

.section-tab {
  padding: 80px 0; }
  .section-tab nav {
    display: flex;
    justify-content: center;
    margin-bottom: 30px; }
    .section-tab nav .nav-item {
      width: 130px;
      height: 40px;
      font-size: 13px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #aaa;
      color: #777;
      margin: 0 15px;
      border-radius: 4px;
      cursor: pointer; }
  .section-tab .contents {
    position: relative;
    height: 400px; }
    .section-tab .contents .content {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.14);
      border-radius: 9px;
      background: #ffffff;
      padding: 30px;
      font-size: 40px;
      opacity: 0;
      transition: 0.6s;
      transform: translateX(80px); }
      .section-tab .contents .content h2 {
        font-size: 20px;
        font-weight: 600;
        padding: 20px;
        opacity: 0;
        transform: translateY(60px);
        transition: 1s 0.6s; }
      .section-tab .contents .content p {
        font-size: 16px;
        line-height: 1.5;
        padding: 20px;
        max-width: 60%;
        opacity: 0;
        transform: translateY(60px);
        transition: 1s 0.9s; }
      .section-tab .contents .content.show {
        opacity: 1;
        transform: none; }
        .section-tab .contents .content.show h2, .section-tab .contents .content.show p {
          transform: none;
          opacity: 1; }
      .section-tab .contents .content.content1 {
        background: #e2d0d0; }
      .section-tab .contents .content.content2 {
        background: #f1ecc3; }
      .section-tab .contents .content.content3 {
        background: #bcd2f5; }

.family-site {
  width: 200px;
  position: relative; }
  .family-site .site-name {
    height: 42px;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
  .family-site .site-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ddd;
    border-top: none;
    display: none;
    background: #fff; }
    .family-site .site-list a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 40px;
      font-size: 14px;
      color: #333; }

.section3.is-current ul li {
  opacity: 1;
  transform: none !important; }
.section3 ul {
  display: flex;
  margin-top: 50px;
  padding: 0 50px; }
  .section3 ul li {
    width: 50%;
    padding: 15px;
    opacity: 0;
    transition: 1s 1s; }
    .section3 ul li:nth-child(1) {
      transform: translateX(-50%); }
    .section3 ul li:nth-child(2) {
      transform: translateX(50%); }
.section3 .item {
  padding: 30px;
  border-radius: 10px;
  background: #eee; }

.back-top {
  position: fixed;
  right: 60px;
  bottom: 80px;
  z-index: 300;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #08c;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.14);
  cursor: pointer;
  transform: translateY(200px);
  transition: 0.6s; }
  .back-top.is-active {
    transform: none; }

.footer {
  height: 500px;
  background: #555; }

/*# sourceMappingURL=exam.css.map */
